@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "PT Serif", serif;
}

:root{
    --lead:#212121;
    --gold-finger:#F2BD12;
    --eye-ball:#FFFDF7;
    --hint-yellow:#FCF1CC;
    --pure-white:#FFF;
}
body{
    background:var(--eye-ball) ;
}

/*basique style*/
a{
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--lead);
}
.flex{
    display: flex;
    align-items: center;
}

li{
    list-style: none;
}

.between{
    justify-content: space-between;
}

.gap-3{
    gap: 3rem;
}

.warp{
    max-width: 1400px;
    margin: auto;
    padding-inline: 1.5rem ;
}
/*home style*/

.navabar{
    min-height: 14vh;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--gold-finger);
}


/*section style*/
.hero{
    min-height: calc(100vh - 14vh);
}

.btn{
    display: inline-block;
    padding: .9rem 2rem;
    background: var(--gold-finger);
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--pure-white);
}

.btn:hover{
    background: var(--lead);
}
 img{
    width: 80%;
    margin: auto;
    display: block;
 }

 .content,
 .img1,
 .servi{
    flex: 1;
 }

 h1{
    font-size: 5.6vw;
    color: var(--lead);
 }

 h1 span{
    color: var(--gold-finger);
 }

 p{
    font-size: 1.25rem;
    color: gray;
    line-height: 1.8rem;
 }
 .para{
    margin-block: 2.5rem;
    max-width: 550px;
 }

 .inst{
    background: var(--hint-yellow);
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
 }
 .inst:hover{
    background: var(--lead);
    color: var(--pure-white);
 }

 .p-top{
    padding-top: 10rem;
 }

 .text-center{
    text-align: center;
    
 }

/*sec1*/
h5{
    font-size:1.2rem ;
    letter-spacing: .2rem;
    color: var(--gold-finger);
    text-transform: uppercase;
}

h2{
    font-size: 3.7rem;
    text-transform: capitalize;
    color: var(--lead);
}

.photo{
      width: 150px;   /* العرض */
  height: 150px;
   display: block;
  margin: auto;
}
h3{
     font-size: 2rem;
    text-transform: capitalize;
    color: var(--lead);

}

.mt-4{
    margin-top: 4rem;
}

.order img{
    
    filter: drop-shadow(
        rgba(0, 0, 0, 0.2) 0 10px 10px
     );
    

    
}

.order {
    flex: 1;
    flex-basis: 300px;
    background: var(--pure-white);
    padding: 0 1rem 2rem 1rem;
    border: .1rem solid var(--gold-finger);
    border-radius: 2rem;
    box-shadow: 
    rgba(0, 0, 0, 0.05) 8px 8px 8px,
    rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
}

h4{
    font-size: 1.8rem;
    color: var(--lead);
}
.order .prix{
    font-size: 1.7rem;
    color: var(--gold-finger);
    padding: 1.3rem 0 2rem 0;
}

.p1 ,.p2 ,.p3 ,.p4 ,.p5 ,.p6 ,.p7 ,.p8 ,.p9 ,.p10 ,.p11 ,.p12 ,.p13 ,.p14 ,.p15{
    width: 50%;
    height: 50%;
}




/*font style*/




